<div>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <h1>Tareas Ralizadas</h1>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div>
        <mat-list *ngFor="let lista of listas" role="list">
            <div *ngIf="lista.realizado" class="d-flex justify-content-between">
                <mat-list-item [routerLink]="[ '/tarea', lista.id ]">
                    <a>{{ lista.nombre | uppercase }}</a>
                </mat-list-item>
                <i class="material-icons">navigate_next</i>
            </div>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>